<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Example_macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SoundWaveForm.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SoundWaveFormTouch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E5B0ECF61F238A40005D1A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B0ED061F238A61005D1A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B0ED121F238ABE005D1A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B0ED251F238AD9005D1A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B0ED561F238B6B005D1A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B0ED6A1F238B9D005D1A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B0ED761F238BB2005D1A58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
